* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



article {
    border: 1px solid black;
    padding: 3vh 3vw 3vh 3vw;
    display: inline-block;
    width: 380px;
    margin: 10px;
}

h1 {
    font-size: 20px;
}

li {
    list-style: none;
}